extends layout

block content
  h1= title
  p Создаю актив в беседах ВК
  img(src="/logo.jpg", alt="", width="320")
  br
  br
  a(href="https://vk.com/chernoknizhnik_bot", target="_blank") https://vk.com/chernoknizhnik_bot
    